.slick-dots li{
    display: none !important;
}
.auto-slider-img{
    align-items: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    text-align: center;
    img{
        width: 100%;
        height: 55px;
       transform: scale(1);
       padding-bottom: 10px;
    }
}